.wrapp-input {
  position: relative;
}

@media (min-width: 768px) {
  #wrapp-input-title {
    max-width: 326px;
  }
}

.count-caracter {
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #858585;
  z-index: 9;
}

.input-title.invalid,
.input-description.invalid,
.input-label.invalid {
  border-color: #ff5a5f;
  color: #ff5a5f;
  animation: shake 0.2s ease-in-out 0s 2;
}

.input-title.invalid::placeholder,
.input-description.invalid::placeholder {
  color: #ff5a5f;
}

@keyframes shake {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(-0.5rem);
  }
  75% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
